html, body
    background-color #f0f0f0
    background-image url(../img/cork_1.png)
    color #333
    padding 0
    margin 0
    font-family 'Raleway', sans-serif
    font-weight 500
    
$checksize = 40px
$notecolor = #ffc
$inyourface = #F2D400
$basered = #705440
$darkred = #4C2911
$lightblue = rgb(38,109,140)
$blue = rgb(17,49,63)
    
transition(prop=all,timing=1s)
    -webkit-transition: prop timing ease-in-out;
    -moz-transition: prop timing ease-in-out;
    -o-transition: prop timing ease-in-out;
    transition: prop timing ease-in-out;
    
linearGradient(from=$lightblue,to=$blue)
    background from
    background -moz-linear-gradient(top, from  0%, to 100%)
    background -webkit-gradient(linear, left top, left bottom, color-stop(0%,from), color-stop(100%,to))
    background -webkit-linear-gradient(top, from 0%, to 100%)
    background -o-linear-gradient(top, from 0%, to 100%)
    background -ms-linear-gradient(top, from 0%, to 100%)
    background linear-gradient(to bottom, from 0%, to 100%)
    
borderRadius()
    border-radius arguments
    -webkit-border-radius arguments
    -moz-border-radius arguments
    -o-border-radius arguments

resetInputs()
    background-color transparent
    border 0px none transparent
    font-family 'Gloria Hallelujah', sans-serif
    width 100%
    font-size 1em
    padding 0
    margin 0
    
    &:focus
        outline none
        
boxShadow()
    -moz-box-shadow arguments
    box-shadow arguments
    -webkit-box-shadow arguments
    
placeHolder(color)
    &::-webkit-input-placeholder { /* WebKit browsers */
        color:    color;
    }
    &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color:    color;
        opacity:  1;
    }
    &::-moz-placeholder { /* Mozilla Firefox 19+ */
        color:    color;
        opacity:  1;
    }
    &:-ms-input-placeholder { /* Internet Explorer 10+ */
        color:    color;
    }
    
header
    min-height 150px
    position relative
    background-color $basered
    
    h1
        position absolute
        top 35px
        left 175px
        font-family 'Raleway', sans-serif
        font-size 3em
        color #fff
        margin 0
        padding 0
        font-weight 600
        text-shadow -1px -1px $darkred
        
        strong
            font-weight 500
            color $inyourface
            
footer
    max-width 500px
    margin 30px auto
    border 2px dashed lighten($lightblue,30%)
    borderRadius(5px)
    padding 10px
    font-weight 600
    color $lightblue
    
    strong
        color $blue

#inputs
    position absolute
    right 0px
    width 50%
    font-size 1.3em
    top 0px
    bottom 40px
    
    input
        padding 10px 0
        text-indent 50px
        
    i
        font-size 2.7em
        position absolute
        left 0
        
        &.icon-feather
            top 10px
            color $basered
            
        &.icon-search
            top 90px
            color #4C2911
            font-size 2.5em

#addtodo
    resetInputs()
    height 60px
    background-color $darkred
    border-bottom-left-radius 8px
    color $inyourface
    
#search
    resetInputs()
    height 53px
    color #ddd
    
    placeHolder(#4C2911)
    
#logo
    position relative
    top 15px
    left 10px
    width 150px
    height auto
    z-index 100

input[type=checkbox]
    visibility hidden

.checkbox
    width $checksize
    position absolute
    top 8px
    left 10px
    transition(visibility)

    label
        cursor pointer
        position absolute
        width $checksize
        height $checksize
        top 0
        left 0
        borderRadius(4px)
        border 1px solid darken($notecolor, 60%)
        
        &:after
            opacity 0
            content ''
            position absolute
            width 18px
            height 10px
            background transparent
            top 10px
            left 10px
            border 3px solid #000
            border-top none
            border-right none

            -webkit-transform rotate(-45deg)
            -moz-transform rotate(-45deg)
            -o-transform rotate(-45deg)
            -ms-transform rotate(-45deg)
            transform rotate(-45deg)

        &:hover:after
            opacity 0.3

    input[type=checkbox]:checked + label:after
        opacity 1

.noteList
    &, & > li
        list-style none
        padding 0
        margin 0
    & > li
        position relative
        vertical-align top
        background-color $notecolor
        box-shadow 3px 3px 3px rgba(33,33,33,0.2)
        width 28%
        margin 0.8% 1.5%
        padding 8px
        padding-bottom 0
        display inline-block
        *display inline
        zoom 1
        font-family 'Gloria Hallelujah', sans-serif
        font-size 1.3em
        
        -webkit-transform rotate(0.3deg)
        &:nth-child(even)
            -webkit-transform rotate(-0.7deg)
        &:nth-child(3n)
            -webkit-transform rotate(-0.5deg)
        &:nth-child(5n)
            -webkit-transform rotate(0.9deg)
            
        .todoBody
            transition(all)
            &.noteCollapsed
                padding-left 50px
            
        &.isExpanded
            .checkbox
                visibility hidden
                
                & > label
                    transition(all,0.4s)
                    width 0
                    border-color transparent
                    height 0
                    
                    &:after
                        border-color transparent

#list
    margin-top 10px

.noteCollapsed
    cursor pointer
    height 48px
    overflow hidden
    white-space nowrap
    text-overflow ellipsis
    
.noteExpanded
    .noteTitle, textarea
        resetInputs()
    textarea
        font-size 0.8em
        min-height 40px
        margin 10px 0 0 0
        background-color lighten($notecolor, 10%)
        padding-bottom 15px
        
    .noteOptions
        position absolute
        bottom 2px
        left 0
        right 2px
        text-align right
        
        .btn
            display inline-block
            text-align center
            font-size 0.7em
            borderRadius(5px)
            margin-left 5px
            padding 2px 8px
            cursor pointer
            text-indent 0
            
            &.blue
                border 1px solid $lightblue
                color $lightblue
                &:hover
                    background-color $lightblue
                    color #eee
            &.red
                border 1px solid $basered
                color $basered
                &:hover
                    background-color $basered
                    color #eee
            &.grey
                border 1px solid #ccc
                &:hover
                    background-color #ccc
        
.noteProgress
    min-height 40px
    width 100%
    z-index 1
    position relative
    
    .noteProgressBg
        position absolute
        top 0
        left 0
        right 0
        bottom 0
        background-color #303030
        boxShadow(inset 0px 0px 5px 5px rgba(30,30,30,0.5))
    
    .noteProgressBar
        position absolute
        top 1px
        bottom 1px
        boxShadow(5px 1px 5px 0 rgba(30,30,30,0.5))
        linearGradient()
        transition(width)
    
    .noteProgressLabel
        color #eee
        position absolute
        top 0
        left 0
        right 0
        bottom 0
        text-align center
        padding 10px
        
    
@media (max-width: 1000px)
    .noteList
        & > li
            width 44%
            
@media (max-width: 885px)
    #inputs
        position relative
        top auto
        bottom auto
        right auto
        width 100%
    #addtodo
        border-bottom-left-radius 0px
            
@media (max-width: 570px)
    .noteList
        & > li
            margin 0
            border-bottom 1px solid darken($notecolor, 35%)
            width 94%
            -webkit-transform rotate(0deg) !important
    footer
        margin 30px 10px
            
@media (max-width: 450px)
    header
        h1
            font-size 1.8em
            top 30px
            left 100px
    #logo
        top 7px
        width 80px
        
    #inputs
        font-size 1.24em
        
        input
            padding 5px
            padding-left 35px
            
        i
            font-size 1.5em
            
            &.icon-feather
                top 20px
         
            &.icon-search
                top 85px
                font-size 1.7em

/* font styling */

@font-face {
	font-family: 'icomoon';
	src:url('./fonts/icomoon.eot');
	src:url('./fonts/icomoon.eot') format('embedded-opentype'),
		url('./fonts/icomoon.woff') format('woff'),
		url('./fonts/icomoon.ttf') format('truetype'),
		url('./fonts/icomoon.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-feather:before {
	content: "\e600";
}
.icon-search:before {
	content: "\e601";
}
.icon-checkmark:before {
	content: "\e602";
}
.icon-trash:before {
	content: "\e603";
}